* {
	max-width: 100%;
}

html {
	height: 100%;
}

body {
	font-size:16px;
	height: 100%;
	@include background-gradient(#5A3BB4, #CA51DF);
	background-repeat: no-repeat;
	@include preserve-three-dimension()
}

.page-content {
	@include vertical-align();
	text-align: center;
	// min-height: 800px;
}

.title {
	// margin-top: 20%;
	// margin-bottom: 20%;
	color: white;
	font-size: $size-plus-5;
	font-weight: 100;
}